<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projektai</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Projektai</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Color</th>
                <th>Year</th>
                <th>Age</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="cars-body">
        </tbody>
    </table>

    <script src="/static/scripts.js"></script>


</body>
</html>
