<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projektai</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h1>CARS</h1>
<form action="" method="get">
    <p><input type="text" name="searchbox"></p>
    <p><input type="submit" value="Filter"></p>
</form>


<p><a href="/car/new">Insert new car</a></p>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
        <th>Age</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="cars-body">
    </tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>AVG: {{ year_avg }}</td>
        <td>AVG: {{ age_avg }}</td>
        <td>Sum: {{ price_sum }} AVG: {{ price_avg }}</td>
    </tr>
</table>

<script src="/static/scripts.js"></script>


</body>
</html>
